.s-cart-top{
	padding-bottom: 35px;
}

//cart-list
.s-cart-list{
	background: #FFF;
	display: table;
	border-collapse: collapse;
	width: 100%;
	@include res(s){
		display: block;
	}
}

.cart-item{
	display: table-row;
	border-top: 1px solid $color-body;
	color: $black;
	@include res(xl){
		font-size: 14px;
	}
	@include res(s){
		display: flex;
		flex-wrap: wrap;
		padding: 0 15px 10px 15px;
	}

	&:last-child{
		border-bottom: 1px solid $color-body;
	}

	&__col{
		display: table-cell;
		vertical-align: middle;
		padding: 7px 5px;
		@include res(s){
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
			text-align: center;
		}
	}

	&__thumb{
		padding-left: 30px;
		padding-right: 10px;
		min-width: 80px;
		@include res(l){
			padding-left: 15px;
		}
		@include res(s){
			padding: 0;

			img{
				margin-left: auto;
				margin-right: auto;
			}
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__name{
		.h5{
			@include res(xl){
				font-size: 14px;
			}
		}
	}

	&__oldprice{
		text-decoration: line-through;
		white-space: nowrap;
		@include res(s){
			margin-bottom: 0;
		}
	}

	&__price{
		white-space: nowrap;
		font-weight: 500;
	}

	&__quantity{
		color: $grey;
		line-height: 1.2;
		@include res(xl){
			font-size: 12px;
		}
	}

	&__delete{
		text-align: right;
		padding-right: 30px;
		@include res(l){
			padding-right: 15px;
		}
		@include res(s){
			padding: 0;
			text-align: center;
		}
	}
}
//cart-list


//s-cart-bottom
.s-cart-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-totals{

	&__title{
		color: $grey;
	}

	&__sum{
		font-weight: 500;
		color: $black;
	}
}
//s-cart-bottom


//checkout-form
.checkout-form{

}

.chechkout-option-block{
	margin-bottom: 25px;
	max-width: 400px;
}

.checkout-footer-item{
	color: $grey;

	strong{
		color: $black;
		white-space: nowrap;
	}
}
//checkout-form


//cart-auth-block
.cart-auth-block{
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	&__half{
		flex: 1;
		min-width: 450px;
		background: #FFF;
		@include res(s){
			min-width: 100%;
		}

		&:first-child{
			//border-right: 1px solid $color-body;
		}

		&:last-child{
			box-shadow: 0 0 0 1px $color-body;
		}

		.h1{
			margin-bottom: 0.5em;
		}
	}
}
//cart-auth-block