.s-callback{
	text-align: center;

	strong{
		color: $black;

		a{
			color: $black;
			text-decoration: none;
		}
	}
}


//s-filters
.s-filters{
	background: #FFF;
	padding: 12px 15px;
	border-top: 1px solid $color-body;
	border-bottom: 1px solid $color-body;
	display: flex;
	justify-content: space-between;
	user-select: none;

	@include res(s){
		flex-wrap: wrap;
		padding: 12px 0;
	}
}

.filters{
	flex-shrink: 1;
	@include res(s){
		width: 100%;
		margin-bottom: 10px;
	}
}

.sorters{
	flex-shrink: 0;
	@include res(s){
		width: 100%;
		flex-shrink: 1;
	}
}

.filter{
	display: inline-block;
	vertical-align: top;
	position: relative;

	&__title{
		position: relative;
		font-size: 14px;
		padding: 7px 15px;
		font-weight: 500;
		border-radius: 3px 3px 0 0;
		border: 1px solid transparent;
		border-bottom: none;
		background: #FFF;
		z-index: 2;
		cursor: pointer;
		transition: all 0.3s ease;
		user-select: none;
		white-space: nowrap;

		&:after{
			content: "\e90e";
			font-family: $font-icons;
			font-size: 10px;
			margin-left: 7px;
			color: $color-brand;
			display: inline-block;
			transition: transform 0.3s ease;
		}

		&:hover{
			color: $color-brand;
		}
	}

	&__drop{
		min-width: 100%;
		max-width: 250px;
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		background-color: #FFF;
		border-radius: 0 3px 3px 3px;
		border: 1px solid #d5d9db;
		z-index: 1;
		padding: 15px;
		box-shadow: 0 10px 18px 2px transparentize($color-brand,0.7);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;

		&--sort{
			padding: 0;
			right: 0;
			left: inherit;
			border-radius: 3px 0 3px 3px;
			@include res(s){
				border-radius: 0 3px 3px 3px;
				right: inherit;
				left: 0;
			}
		}

		.sort-method-link{
			display: block;
			padding: 9px 15px;
			color: $black;
			font-size: 14px;
			white-space: nowrap;
			text-decoration: none;
			transition: all 0.3s ease;
			
			&:hover,&.active{
				background: #d5d9db;
			}
		}

		.style-checkbox{
			white-space: nowrap;
			margin-bottom: 10px;
			color: $black;
		}
	}

	&--opened{
		z-index: 5;

		.filter__title{
			border-color: #d5d9db;
			color: $color-brand;

			&:after{
				transform: rotate(180deg);
			}
		}

		.filter__drop{
			opacity: 1;
			visibility: visible;
		}
	}
}


.price-filter{

	&__header{
		display: flex;
		margin-bottom: 15px;

		label{
			display: flex;
			flex-shrink: 1;
			align-items: center;
			margin-right: 13px;
			&:last-child{
				margin-right: 0;
			}

			span{
				font-size: 14px;
				margin-right: 5px;
			}
		}

		input{
			width: 74px;
			border-radius: 3px;
			padding: 5px 7px;
		}
	}
}
//s-filters



//s-active-filters
.s-active-filters{
	background: #FFF;
	@extend %side-padding;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid $color-body;
	@include res(s){
		margin-bottom: 15px;
	}
}

.active-filters-title{
	color: $grey;
	font-size: 14px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.active-filters-row{
	display: inline-block;
	vertical-align: middle;
}

.active-filter{
	vertical-align: top;
	margin: 5px 10px 5px 0;
	border: 1px solid #dcdcdc;
	background: #f8f8f8;
	border-radius: 2px;
	padding: 3px 4px 3px 7px;
	position: relative;
	display: inline-flex;
	align-items: center;

	span{
		font-size: 14px;
		color: $color-brand;
	}

	i{
		font-size: 7px;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background-color: transparent;
		color: $color-brand;
		transition: all 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		margin-left: 5px;

		&:hover{
			background: $color-brand;
			color: #FFF;
		}
	}
}
//s-active-filters


//s-products
.s-products{
	.product{
		@include res(s){
			margin-bottom: 15px;
		}
	}
}

.product{
	background: #FFF;
	display: flex;
	align-items: flex-start;
	@extend %full-padding;
	border-bottom: 1px solid $color-body;
	@include res(s){
		flex-wrap: wrap;
	}

	&:last-child{
		border-bottom: none;
	}

	&__images{
		width: 260px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		@include res(xl){
			width: 194px;
		}
		@include res(s){
			width: 260px;
			justify-content: flex-start;
			margin-bottom: 20px;
		}
	}

	&__content{
		width: 100%;
		flex-shrink: 1;
		padding-left: 20px;
		@include res(s){
			padding-left: 0;
		}
	}
}

.product-big-slider{
	width: 200px;
	opacity: 0;
	height: 0;
	transition: opacity 0.3s ease;
	flex-shrink: 1;
	margin-right: 4px;
	@include res(xl){
		width: 150px;
	}
	@include res(s){
		width: 200px;
	}

	&.slick-initialized{
		opacity: 1;
		height: auto;
	}

	&__item{

		.fancy{
			text-decoration: none;
		}

		img{
			width: 100%;
			height: auto;
			display: block;
		}

		span{
			color: $grey;
			font-size: 14px;
			position: relative;
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: color 0.3s ease;

			&:before{
				content: '+';
				width: 13px;
				height: 13px;
				display: inline-block;
				vertical-align: baseline;
				border-radius: 50%;
				border: 1px solid $color-brand;
				color: $color-brand;
				line-height: 11px;
				font-size: 10px;
				text-align: center;
				margin-right: 5px;
			}
		}

		&:hover{
			span{
				color: $color-brand;
			}
		}
	}
}

.product-small-slider{
	width: 56px;
	opacity: 0;
	height: 0;
	transition: opacity 0.3s ease;
	@include res(xl){
		width: 40px;
	}
	@include res(s){
		width: 56px;
	}

	&.slick-initialized{
		opacity: 1;
		height: auto;
	}

	&__item{
		cursor: pointer;
		padding: 3px 0;

		img{
			width: 100%;
			height: auto;
			opacity: 0.4;
			display: block;
			transition: opacity 0.3s ease;
			transform: translate3d(0,0,0);
		}

		&.slick-current{
			img{
				opacity: 1;
			}
		}

		&:hover{
			img{
				opacity: 1;
			}
		}
	}

	&:before{
		font-family: $font-icons;
		font-size: 16px;
	}

	.slick-arrow{
		color: $color-brand;

		&:before{
			font-size: 16px;
		}

		&:hover{
			opacity: 0.8;
		}

		&.slick-prev{
			&:before{
				content: "\e911";
			}
		}
		&.slick-next{
			&:before{
				content: "\e90e";
			}
		}

		&.slick-disabled{
			opacity: 0.3;
			color: $grey;
			pointer-events: none;
		}
	}
}


.product-header{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	.h3{
		margin-right: 10px;
		a{
			color: $black;
			text-decoration: none;
			@extend %bordered-link;
		}
	}

	.prod-item__labels{
		position: relative;
		left: inherit;
		top: inherit;
	}
}


.numblock{
	display: inline-flex;
	vertical-align: top;
	border: 1px solid $grey;
	align-items: stretch;
	height: 38px;
	border-radius: 25px;
	overflow: hidden;
	user-select: none;
	@include res(s){
		height: 30px;
	}

	input{
		border: none;
		width: 30px;
		padding: 0;
		font-size: 16px;
		font-style: normal;
		text-align: center;
		box-shadow: none !important;
		border-radius: 0;
		@include res(s){
			font-size: 14px;
		}
	}

	&__btn{
		display: block;
		width: 30px;
		border: none;
		font-size: 20px;
		line-height: 36px;
		cursor: pointer;
		transition: all 0.3s ease;
		text-align: center;
		color: $color-brand;
		background-color: #fff;
		@include res(s){
			line-height: 28px;
		}

		&:hover{
			background-color: darken(#f8f8f8,10%);
		}

		&:focus{
			outline: none;
		}
	}
}


.product-table{
	font-size: 16px;
	margin-bottom: 20px;
	@include res(xl){
		font-size: 14px;
	}

	&__row{
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $black;
		padding: 14px 0;
		border-bottom: 1px solid $color-body;
		@include res(l){
			flex-wrap: wrap;
			padding: 10px 0 3px 0;
		}
		&:hover{
			background: #f8f8f8;
		}


		&--head{
			font-weight: normal;
			font-size: 14px;
			text-align: left;
			color: $grey;
			padding: 5px 0;
			@include res(l){
				display: none;
			}

			&:hover{
				background: #ffffff;
			}
		}
	}

	&__col{
		padding-right: 15px;
		flex-shrink: 1;
		@include res(l){
			margin-bottom: 7px;
		}

		&--name{
			width: 100%;
			flex-shrink: 1;
		}

		&--nal{
			flex-shrink: 0;
			width: 13%;
			white-space: nowrap;
			@include res(l){
				width: 50%;
			}
		}

		&--price{
			flex-shrink: 0;
			width: 13%;
			white-space: nowrap;
			@include res(l){
				width: 50%;
			}
		}

		&--num{
			width: 110px;
			flex-shrink: 0;
			white-space: nowrap;
			@include res(l){
				width: 50%;
			}
		}

		&:last-child{
			padding-right: 0;
			flex-shrink: 0;
			width: 105px;
			@include res(l){
				width: 50%;
			}
		}
	}
}
//s-products

.s-show-more{
	border-top: 1px solid $color-body;
	border-bottom: 1px solid $color-body;
}

.show-more{
	background: #FFF;
	display: block;
	@extend %side-padding;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	color: $color-brand;
	text-align: center;
	font-weight: 500;

	&:hover{
		color: $black;

		a,span{
			color: $black;
		}
	}

	i{
		font-size: 14px;
		margin-left: 5px;
		top: 1px;
		position: relative;
	}
}