.modal{
	display: none;
	width: 630px;
	max-width: 100%;
	transition: transform 0.4s ease,opacity 0.4s ease;
	transform: scale3d(0.9,0.9,0.9);
	opacity: 0;
	will-change: transform,opacity;
	padding: 20px 30px 35px 30px;
	@include res(s){
		padding: 20px 15px 35px 15px;
	}

	&__title{
		margin-bottom: 0.7em;
		padding-right: 45px;
	}
}

.fancybox-slide--complete {
	.modal {
		transform: none;
		opacity: 1;
	}
}

.fancybox-container--closing{
	.modal {
		transform: scale(1.1);
		opacity: 0.5;
	}
}


