.tab-links{
	background: #FFF;
	@extend %side-padding;
	border-bottom: 1px solid $color-body;

	a{
		display: inline-block;
		text-decoration: none;
		color: $grey;
		transition: all 0.3s ease;
		margin-bottom: 0;
		margin-right: 30px;
		padding: 0.8em 0;
		border-bottom: 2px solid transparent;
		@include res(s){
			font-size: 14px;
			margin-right: 15px;
		}

		&:hover{
			color: $black;
		}

		&.active{
			color: $black;
			border-bottom: 2px solid $color-brand;
		}
	}
}

.tab-block{
	display: none;

	&.active{
		display: block;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}