.top-panel--mob{
	background-color: #FFF;
	padding-top: 15px;
	display: none;
	@include res(m){
		display: block;
	}

	.container{
		display: flex;
		justify-content: flex-end;
	}

	.head-cart{
		margin-left: 25px;
	}
}

.mob-top-serch{
	width: 40px;
	height: 40px;
	border: 1px solid $color-brand;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-brand;
	transition: all 0.3s ease;
	cursor: pointer;
	text-decoration: none;
	margin-left: 25px;

	i{
		font-size: 16px;
	}

	&:hover{
		border-color: $black;
		color: $black;
	}
}

.mob-top-enter{
	width: 40px;
	height: 40px;
	border: 1px solid $color-brand;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-brand;
	transition: all 0.3s ease;
	cursor: pointer;
	text-decoration: none;
	margin-left: 25px;

	i{
		font-size: 15px;
	}

	&:hover{
		border-color: $black;
		color: $black;
	}
}


//top-search-mob
.top-search-mob{
	padding: 10px 0;
	background-color: #FFF;
	display: none;

	.container{
		display: flex;
		align-items: flex-start;
	}


	form{
		width: 100%;
		margin-right: 15px;
	}

	&__close{
		@include cross();
		position: relative;
		right: inherit !important;
		top: inherit !important;
		flex-shrink: 0;
	}
}
//top-search-mob


//menu-btn
.menu-btn{
	width: 40px;
	height: 32px;
	cursor: pointer;
	white-space: nowrap;
	display: none;
	user-select: none;
	position: fixed;
	z-index: 30;
	left: 15px;
	top: 18px;
	background-color: #FFF;
	@include res(m){
		display: flex;
		align-items: center;
		justify-content: center;
	}

	figure{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 32px;
		height: 2px;
		background-color: $color-brand;
		transition: all 0.3s ease;

		&:before,&:after{
			content: "";
			width: 32px;
			height: 2px;
			position: absolute;
			left: 0;
			background-color: $color-brand;
			transition: all 0.3s ease;
		}

		&:before{
			top: -8px;
		}

		&:after{
			bottom: -8px;
		}
	}

	&.active{
		figure{
			transform: rotate(45deg);

			&:after{
				transform: scale(0.5);
				opacity: 0;

			}
			&:before{
				transform: rotate(-90deg);
				top: 0;
			}
		}
	}
}
//menu-btn